@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
    --primary-color: #1d1d1d;
    --white-color: #ffffff;
    --gray-color: #2e2e2e;
    --black-color: #111111;
    --yellow-color: #e3b748;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    color: var(--white-color);
    background-color: var(--primary-color);
    overflow-x: hidden;
}